@import "../../assets/styles/variables";

.loader {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 22px;
  height: 22px;

  &:after {
    content: " ";
    display: block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 3px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: loader 1s linear infinite;
  }
}

.wrap {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba($color: #000, $alpha: 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99;
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
