.container {
  position: fixed;
  background-color: rgba($color: #000000, $alpha: 0.4);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9;
}

.modal {
  background-color: #fff;
  padding: 12px 16px;
  box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  max-width: 600px;
  width: 100%;
}
