.item {
  display: block;
  padding: 12px 16px;
  box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
}

.img {
  width: 100%;
  max-height: 450px;
  object-fit: cover;
}

.video {
  width: 100%;
}

.link {
  text-decoration: none;
  margin-right: auto;
}

.header {
  margin-bottom: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer {
  display: flex;
  justify-content: flex-end;
}

.commentIcon,
.likeIcon {
  margin-right: 4px;
  fill: gray;
}

.comments,
.likes {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  color: #000;

  button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }

  svg {
    width: 18px;
    height: 18px;
  }
}

.likes {
  margin-left: 8px;
}

.likeIcon {
  transition: fill 0.2s ease;

  &.active,
  &:hover {
    fill: rgb(245, 0, 87);
  }
}

.headerBtn {
  &:not(:last-child) {
    margin-right: 12px;
  }

  svg {
    width: 18px;
    height: 18px;
    color: #000;
  }
}
