@import "../../assets/styles/variables";

.container {
  display: block;
  max-width: 800px;
  margin: 32px auto;
  padding: 12px 16px;
  box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
}

.avatar {
  position: relative;
  margin: 0 auto;
  width: fit-content;
}

.preview {
  width: 150px;
  height: 150px;
  text-align: center;
  line-height: 150px;
  text-transform: uppercase;
  background-color: gray;
  color: #fff;
  border-radius: 50%;
}

.file {
  opacity: 0;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  cursor: pointer;
}

.img {
  display: block;
  margin: 24px 0;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: contain;
}

.add,
.remove {
  background-color: $primary-color;
  width: 40px;
  height: 40px;
  display: block;
  position: absolute;
  bottom: 5px;
  right: 10px;
  border-radius: 50%;
  color: #fff;
  text-align: center;
  font-weight: 700;
  line-height: 40px;
  cursor: pointer;
}

.remove {
  background-color: red;
  top: 0;
  width: 20px;
  height: 20px;
  line-height: 20px;
  font-size: 12px;
}

.input {
  width: 100%;
  margin-top: 12px;
  margin-bottom: 22px;
}

.datecontainer {
  cursor: pointer;
  width: 100%;
  font-size: 16px;
  margin-bottom: 22px;
}

.note {
  font-size: 14px;
}

.datepicker {
  border-bottom: 2px solid #000;
  height: 30px;
  width: 100%;
  cursor: pointer;
  &:hover,
  &:focus {
    border-color: $primary-color;
  }
}

.textarea {
  width: 100%;
  height: 200px;
  box-sizing: border-box;
}

.change {
  margin-top: 12px;
}

.item {
  margin-top: 18px;
  color: gray;
}

.subtitle {
  display: block;
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 16px;
  color: #000;
}

.name {
  display: block;
  font-size: 22px;
  font-weight: bold;
  margin-top: 25px;
  text-align: center;
}

.description {
  margin-top: 24px;
}

.text {
  font-size: 14px;
  color: gray;
}
