@import "../../../node_modules/react-toastify/dist/ReactToastify.css";
@import "../../../node_modules/react-datepicker/dist/react-datepicker.css";
@import "./fonts";

body {
  margin: 0;
  font-family: "Roboto";
}

input {
  outline: none;
  border: none;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
  background: none;
}

a {
  color: initial;
  text-decoration: none;
}
