.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

.logo {
    width: 180px;
}

.link {

    img {
        width: 100%;
        height: 100%;
        max-width: 250px;
    }

    &:first-child {
        margin-right: 10px;
    }
}

.row {
    display: flex;
    justify-content: center;
    margin-top: 22px;
}

@media (max-width: 520px) {
    .row {
        flex-direction: column;
    }

    .link:first-child {
        margin-right: 0;
    }
}